@media all {
  * {
    margin: 0;
    padding: 0;
  }

  body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  html {
    height: 100vh;
    width: 100vw;
  }

  body {
    background-image: linear-gradient(to bottom, purple, pink);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .geral {
    background-color: rgb(44, 44, 44);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.734);
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1em 0.5em;

    width: 200px;

    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .Numbers {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 3px solid rgb(195, 0, 195);
    width: 150px;
    margin: auto;
    height: 150px;
    border-radius: 50%;
  }

  .Plays {
    display: flex;
    justify-content: space-around;
  }

  .Plays p {
    background-color: white;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
  }
}
